body {
  background-color: rgb(203, 184, 216);
}
.container {
  text-align: center;
  margin-top: 23px;
}
table {
  margin: auto;
}
input {
  border: 1 px solid #244624;
  font-size: 34px;
  height: 41 px;
  border-radius: 4 px;
  margin-bottom: 9px;
}
button {
  border-radius: 2px;
  font-size: 40px;
  background-color: lightgray;
  width: 102px;
  height: 79px;
  margin: 3 px;
}
.calculator {
  background-color: rgb(247, 243, 243);
  display: inline-block;
  padding: 23px;
  border-radius: 10px;
}
h1 {
  font-size: 45px;
}
